:root {
    --color-text-blue: #1d9bf0;
    --color-text-white: #e7e9ea;
    --color-background-side: #16181c;
    --color-background-button-blue: #1d9bf0;
    --color-background-button-white: #eff3f4;
    --color-background-button-hover-white: #e7e9ea1a;
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    color: var(--color-text-white);
}

a {
    text-decoration: none;
}

svg {
    fill: var(--color-text-white);
}

li {
    list-style-type: none;
}
